<div class="container mt-3">
  <mat-card>
    <mat-card-header [style.backgroundColor]="'#e5e5e5'">
      <mat-card-title>Currency List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <button
            mat-raised-button
            color="primary"
            style="width: auto"
            (click)="onCreate()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="col-sm-6">
          <mat-form-field style="width: 100%; padding-left: 10px">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" />
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="table-container"> -->
      <div class="row">
        <p-table
          [value]="service.filteredSource"
          sortMode="single"
          [scrollable]="true"
          scrollHeight="500px"
          [responsive]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="CurrencyId">
                Record ID<p-sortIcon field="CurrencyId"></p-sortIcon>
              </th>
              <th pSortableColumn="UserId">
                User ID<p-sortIcon field="UserId"></p-sortIcon>
              </th>
              <th pSortableColumn="RecDate">
                Record Date<p-sortIcon field="RecDate"></p-sortIcon>
              </th>
              <th pSortableColumn="CurrencyName">
                Currency Name<p-sortIcon field="CurrencyName"></p-sortIcon>
              </th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{ item.CurrencyId }}</td>
              <td>{{ item.UserId }}</td>
              <td>{{ item.RecDate | date: "dd/MM/yyyy" }}</td>
              <td>{{ item.CurrencyName }}</td>
              <td>
                <button style="border: 0; padding: 0" (click)="onEdit(item)">
                  <i
                    class="pi pi-window-maximize"
                    style="font-size: 1.5rem"
                  ></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- </div> -->
    </mat-card-content>
  </mat-card>
</div>
