<div class="container mt-3">
  <mat-card>
    <mat-card-header [style.backgroundColor]="'#e5e5e5'">
      <mat-card-title>Master Codes List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field style="width: 100%; padding-left: 10px">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" />
          </mat-form-field>
        </div>
      </div>
      <p-table
        [value]="service.filteredSource"
        sortMode="single"
        [responsive]="true"
        [scrollable]="true"
        scrollHeight="500px"
        [responsive]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="SysMasterCodeId">
              Record ID<p-sortIcon field="SysMasterCodeId"></p-sortIcon>
            </th>
            <th pSortableColumn="UserId">
              User ID<p-sortIcon field="UserId"></p-sortIcon>
            </th>
            <th pSortableColumn="RecDate">
              Record Date<p-sortIcon field="RecDate"></p-sortIcon>
            </th>
            <th pSortableColumn="SysMasterCodeDesc">
              Code Screen<p-sortIcon field="SysMasterCodeDesc"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.SysMasterCodeId }}</td>
            <td>{{ item.UserId }}</td>
            <td>{{ item.RecDate | date: "dd/MM/yyyy" }}</td>
            <td>{{ item.SysMasterCodeDesc }}</td>
            <td>
              <a style="border: 0; padding: 0" [routerLink]="item.SysUrl">
                <i class="pi pi-window-maximize" style="font-size: 1.5rem"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card-content>
  </mat-card>
</div>
