<!-- <input type="text" [(ngModel)]="data" id="ngModel">


<h2 [textContent]="title"></h2>

<h2>{{this.data}}</h2> -->


<!-- <router-outlet></router-outlet> -->
<!-- <app-parent-docheck></app-parent-docheck> -->
<!-- <app-google-login></app-google-login> -->
<app-dashboard></app-dashboard>
<router-outlet></router-outlet>
<!-- <input type="text" (keyup)="setText($event)"/>
<br/>
<button type="text" (click)="Operation('plus')">+</button>
<button type="text" (click)="Operation('minus')">-</button>
<p> Font Size : {{this.fontSize}} </p>
<hr/>
<h2></h2>
<p [style.fontSize.px]="this.fontSize"> {{this.para}}</p>
<h1> ViewChild and ViewChildre</h1>
<hr/> -->
<!-- <app-consvsnginit></app-consvsnginit>     -->
<!-- <app-parent></app-parent> -->
<!-- <app-prvsobs></app-prvsobs> -->
<!-- <app-testing></app-testing> -->
