<div class="col-sm">
  <div class="container">
    <app-spinnerz *ngIf="this.isFormSubmitted"></app-spinnerz>
    <div class="container" *ngIf="!this.isFormSubmitted">
      <mat-card-header class="mt-3 mb-3">
        <mat-card-title>Currency</mat-card-title>
      </mat-card-header>
      <form
        #form="ngForm"
        name="form"
        autocomplete="off"
        *ngIf="service.formData"
        (submit)="onSubmit(form)"
        novalidate
      >
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Record ID </label>
              <input
                class="form-control"
                name="CurrencyId"
                id="CurrencyId"
                #CurrencyId="ngModel"
                [(ngModel)]="service.formData.CurrencyId"
                readonly
                pattern=""
              />
            </div>
          </div>
          <input
            type="hidden"
            name="UserId"
            #UserId="ngModel"
            [(ngModel)]="service.formData.UserId"
          />
          <input
            type="hidden"
            name="RecDate"
            #RecDate="ngModel"
            [(ngModel)]="service.formData.RecDate"
          />
          <div class="col-sm-6">
            <div class="form-group">
              <label>Currency Name *</label>
              <input
                class="form-control"
                name="CurrencyName"
                id="CurrencyName"
                #CurrencyName="ngModel"
                [(ngModel)]="service.formData.CurrencyName"
                [class.is-invalid]="
                  CurrencyName.touched && (CurrencyName.invalid || isDuplicate)
                "
                (change)="getDuplicateCurrencyNameCount()"
                required
                maxlength="500"
                pattern=""
              />
              <small
                class="text-danger"
                *ngIf="CurrencyName.touched && CurrencyName.invalid"
              >
                Please enter valid Currency Name</small
              >
              <small
                class="text-danger"
                *ngIf="CurrencyName.touched && isDuplicate"
              >
                Duplicate Currency Name</small
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <button
              id="submit"
              type="submit"
              class="btn btn-outline-primary ml-3"
              [disabled]="form.invalid || !isValid"
              [hidden]="this.isFormSubmitted == true"
            >
              <i class="fa fa-database" aria-hidden="true"></i> Submit
            </button>
            <button
              id="closeForm"
              type="button"
              class="btn btn-outline-primary ml-1"
              (click)="onClose()"
              [hidden]="this.isFormSubmitted == true"
            >
              <i class="fa fa-window-close" aria-hidden="true"></i> Close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
